<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Parken</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="sidenav">
        <div class="picture">
            <img src="/assets/images/cyber-city-logo.png" alt="" class="img-responsive">
        </div>
        <a href="/assets/html/index.html">Start</a>
        <a href="/assets/html/pages/parken.html">Parken</a>
    </div>
    <div class="header">

        <h1>Parken</h1>
    <div>
    <hr>
    <div class="main">

        <button onclick="toggle(this);">Parkplaetze</button>
        <!--Hide one table show the other-->
        <script>
            let toggle = button => {
                let elementa = document.getElementById("parktabelle");
                let elementb = document.getElementById("parkhaeuser");
                let hiddena = elementa.getAttribute("hidden");
                if (hiddena) {
                    elementa.removeAttribute("hidden");
                    elementb.setAttribute("hidden", "hidden");
                    button.innerText = "Parkplaetze";
                } else {
                    elementb.removeAttribute("hidden")
                    elementa.setAttribute("hidden", "hidden");
                    button.innerText = "Parkflaechen/-haeuser";
                }
            }   
        </script>
        <!--Table for parkplaetze-->
        <div style="overflow-x:auto;" style="overflow-y:auto;">
            <table class="table" id="parktabelle" hidden="hidden">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Groesse</th>
                        <th scope="col">Koordinate</th>
                        <th scope="col">PlatzStatus</th>
                        <th scope="col">Ladesaeule</th>
                        <th scope="col">LadeStatus</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="Plaetze in parkplaetze">    
                        <th scope="row">{{Plaetze.PlatzID}}</th>
                        <th>{{Plaetze.Groesse}}</th>
                        <th>{{Plaetze.Pl_KoordinateID}}</th>   
                        <th>{{Plaetze.P_status}}</th>
                        <th>{{Plaetze.Pl_LadesaeuleID}}</th>
                    </tr>
                    <tr v-for="Ladesaeulen in parkplaetze">
                        <th scope="row">{{Ladesaeulen.L_Status}}</th>
                    </tr>
                    <!--th><button @click="deleteUser(user.id)">Delete User</button></th-->
                    </tr>
                </tbody>
            </table>
        </div>
        <!--Table for parkhaeuser-->
        <div style="overflow-x:auto;" style="overflow-y:auto;">
            <table class="table" id="parkhaeuser">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Preis</th>
                        <th scope="col">Oeffnungszeiten</th>
                        <th scope="col" colspan="3">Addresse</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="Lot in parkhaeuser">    
                        <th scope="row">{{Lots.LotID}}</th>
                        <th>{{Lots.Preis}}</th>
                        <th>{{Lots.Oeffnungszeiten}}</th>
                    </tr>
                    <tr v-for="Addressen in parkhaeuser">   
                        <th>{{Addressen.Strasse}</th>
                        <th>{{Addressen.Hausnummer}}</th>
                        <th>{{Addressen.Plz}}</th>   
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
    <div class="footer">
        <nav>
            <ul>
                <li>
                    <a href="/assets/html/pages/impressum.html">
                        Impressum
                    </a>
                </li>
                <li>
                    <a href="http://cyber-city.systems">
                        Cyber City
                    </a>
                </li>
            </ul>
        </nav>
        <p>
            &copy; Cyber City Projekt             
        </p>
        <hr>
        <p>
            <a href="">
                FH-Bielefeld
            </a>
        </p>
    </div>

    <script src="assets/scripts/parken.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>